*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 20px;
    margin-left: 670px;
    margin-bottom: 30px;
    font-size: 36px;
}

li{
    display: inline-block;
    margin-bottom: 30px;
}

a{
    color: rgb(0, 120, 254);
    font-size: 16px;
}

#home{
    margin-left: 640px;
    padding-right: 25px;
}

#blo{
    padding-right: 25px;
    padding-left: 25px;
    border-left: 2px solid rgb(0, 120, 254);
    border-right: 2px solid rgb(0, 120, 254);
}

#syll{
    padding-left: 25px;
}


table{
    margin: 10px 10px 0px 150px;
    width: 1200px;
    height: 400px;
    text-align: center;
    font-weight: 400;
}

th{
    height: 70px;
    width: 90px;
}

tr:nth-of-type(1)
{
    background-color: rgb(241, 237, 243);
}

tr:nth-of-type(even){
    background-color: rgb(241, 237, 243);
}